<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}" lang="en"
        th:with="activeMenuItem='book'">
<head>
    <title>Book Form</title>
</head>
<body>
<div layout:fragment="page-content">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semibold text-gray-900"
            th:text="#{book.create}">Create Book</h1>
    </div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <div class="py-4">
            <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
                <form id="book-form"
                      th:object="${book}"
                      th:action="@{/create}"
                      method="post">
                    <div>
                        <div th:replace="~{fragments/forms :: fielderrors}"></div>
                        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                            <!-- Title -->
                            <div class="sm:col-span-6">
                                <label for="title" class="block text-sm font-medium text-gray-700"
                                       th:text="#{book.title}">
                                    Title
                                </label>
                                <div class="mt-1">
                                    <input id="title"
                                           type="text"
                                           th:field="*{title}"
                                           class="shadow-sm block w-full sm:text-sm border-gray-300 rounded-md"
                                           th:classappend="${#fields.hasErrors('title')?'border-red-300 focus:border-red-300 focus:ring-red-500':'focus:ring-purple-500 focus:border-purple-500'}">
                                </div>
                                <p th:if="${#fields.hasErrors('title')}"
                                   th:text="${#strings.listJoin(#fields.errors('title'), ' ')}"
                                   class="mt-2 text-sm text-red-600" id="title-error">Title validation error message(s).</p>
                            </div>
                            <!-- Author -->
                            <div class="sm:col-span-6">
                                <label for="author" class="block text-sm font-medium text-gray-700"
                                       th:text="#{book.author}">
                                    Author
                                </label>
                                <div class="mt-1">
                                    <input id="author"
                                           type="text"
                                           th:field="*{author}"
                                           class="shadow-sm block w-full sm:text-sm border-gray-300 rounded-md"
                                           th:classappend="${#fields.hasErrors('author')?'border-red-300 focus:border-red-300 focus:ring-red-500':'focus:ring-purple-500 focus:border-purple-500'}">
                                </div>
                                <p th:if="${#fields.hasErrors('author')}"
                                   th:text="${#strings.listJoin(#fields.errors('author'), ' ')}"
                                   class="mt-2 text-sm text-red-600" id="author-error">Author validation error message(s).</p>
                            </div>
                            <!-- Genre -->
                            <div class="sm:col-span-6">
                                <label for="genre" class="block text-sm font-medium text-gray-700"
                                       th:text="#{book.genre}">
                                    Genre
                                </label>
                                <div class="mt-1">
                                    <select id="genre"
                                            th:field="*{genre}"
                                            class="shadow-sm block w-full sm:text-sm border-gray-300 rounded-md"
                                            th:classappend="${#fields.hasErrors('genre')?'border-red-300 focus:border-red-300 focus:ring-red-500':'focus:ring-purple-500 focus:border-purple-500'}">
                                        <option th:each="genre : ${genres}"
                                                th:value="${genre}"
                                                th:text="#{'Genre.' + ${genre.name()}}">Genre</option>
                                    </select>
                                </div>
                                <p th:if="${#fields.hasErrors('genre')}"
                                   th:text="${#strings.listJoin(#fields.errors('genre'), ' ')}"
                                   class="mt-2 text-sm text-red-600" id="genre-error">Genre validation error message(s).</p>
                            </div>
                            <!-- Publisher -->
                            <div class="sm:col-span-6">
                                <label for="publisher" class="block text-sm font-medium text-gray-700"
                                       th:text="#{book.publisher}">
                                    Publisher
                                </label>
                                <div class="mt-1">
                                    <input id="publisher"
                                           type="text"
                                           th:field="*{publisher}"
                                           class="shadow-sm block w-full sm:text-sm border-gray-300 rounded-md"
                                           th:classappend="${#fields.hasErrors('publisher')?'border-red-300 focus:border-red-300 focus:ring-red-500':'focus:ring-purple-500 focus:border-purple-500'}">
                                </div>
                                <p th:if="${#fields.hasErrors('publisher')}"
                                   th:text="${#strings.listJoin(#fields.errors('publisher'), ' ')}"
                                   class="mt-2 text-sm text-red-600" id="publisher-error">Publisher validation error message(s).</p>
                            </div>
                            <!-- Publishing Year -->
                            <div class="sm:col-span-6">
                                <label for="publishingYear" class="block text-sm font-medium text-gray-700"
                                       th:text="#{book.publishingYear}">
                                    Publishing Year
                                </label>
                                <div class="mt-1">
                                    <input id="publishingYear"
                                           type="text"
                                           th:field="*{publishingYear}"
                                           th:placeholder="#{book.publishingYear.placeholder}"
                                           class="shadow-sm block w-full sm:text-sm border-gray-300 rounded-md"
                                           th:classappend="${#fields.hasErrors('publishingYear')?'border-red-300 focus:border-red-300 focus:ring-red-500':'focus:ring-purple-500 focus:border-purple-500'}">
                                </div>
                                <p th:if="${#fields.hasErrors('publishingYear')}"
                                   th:text="${#strings.listJoin(#fields.errors('publishingYear'), ' ')}"
                                   class="mt-2 text-sm text-red-600" id="publishingYear-error">Publishing year validation error message(s).</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-8 border-t border-gray-200 pt-5">
                        <div class="flex justify-end">
                            <span class="inline-flex rounded-md shadow-sm">
                                <button type="button"
                                        class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
                                        th:text="#{cancel}">
                                    Cancel
                                </button>
                            </span>
                            <span class="ml-3 inline-flex rounded-md shadow-sm">
                                <button type="submit"
                                        class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
                                        th:text="#{save}">
                                    Save
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
